{% block dag_status %}
<header>
    <a>Dags status</a>
</header>   
<div class="nav flex-column" >
{% for item in dags_info %}
    <div class="nav-item">    
        <a id="{{item.status}}" class="nav-link">{{item.status}}:</a>
        <a id="{{item.status}}_num" class="nav-link">{{item.out}}</a>
    </div>

{% endfor %} 
    <div class="nav-item">
        <a id="{{suc_dags.status}}" class="nav-link">{{suc_dags.status}}:</a>
        <a id="{{suc_dags.status}}_num" class="nav-link">{{suc_dags.out}}</a>
    </div>
    <div class="nav-item">
        <a id="{{failed_dags.status}}" class="nav-link">{{failed_dags.status}}:</a>
        <a id="{{failed_dags.status}}_num" class="nav-link">{{failed_dags.out}}</a>
    </div>
</div>

{% endblock %}

